.container {
  justify-content: space-between;
  align-items: center;
  padding: 6px 0px;
  display: flex;
}

.wrapper {
  display: flex;
  justify-self: center;
  align-items: center;
}

.checboxContainer {
  align-items: center;
  display: flex;
}

.checboxContainer span {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1.5px solid #777777;
}

.input {
  width: 23px;
  height: 23px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.input:checked {
  opacity: 1;
}

.text {
  font-family: monospace;
  font-weight: 400;
  font-size: 17px;
  max-width: 200px;
  overflow-x: hidden;
  color: white;
  word-break: break;
  padding-left: 10px;
}

.taskChecked {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}

.image {
  height: 20px;
  cursor: pointer;
}

@media screen and (min-width: 850px) {
  .text {
    max-width: 565px;
    min-width: 565px;
    font-size: 20px;
  }
}
